QFrame#MainPage {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #69e269, stop:1 #237623);
}

QLabel {
    font-size: 16px;
    color: #c50e0e;
}

QLabel#UserAccountTitle {
    font-size: 20px;
    color: #1900a8;
}
